.background-container {
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

#background-container_img {
    height: 100%;
    min-width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    overflow: hidden;
}

.rock-container {
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    right: 0;
}

#rock-container_img {
    position: absolute;
    right: 0;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.iain-container {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

#iain-container_img {
    height: 100%;
    position: absolute;
    top: -400px;
    right: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transform-origin: 100% 100%;
    animation: wriggle 2s ease-in-out infinite;
    overflow: hidden;
}

@keyframes wriggle {
    0% {
        transform: rotate(-1deg) scale(0.8);
    }

    50% {
        transform: rotate(1deg) scale(0.8);
    }

    100% {
        transform: rotate(-1deg) scale(0.8);
    }
}

@media screen and (max-height: 800px){
    #iain-container_img {
        top: -200px;
    }
}

#intro-wrapper {
    position: absolute;
    left: 5%;
    bottom: 5%;
    height: 10%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

 
#intro-title {
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.33);
    box-shadow: 5px 5px 10px rgba(20, 20, 20, 0.2);
    flex-grow: 3;
    margin: 10px 0;
}

#intro-title > h2 {
    height: 100%;
    width: 100%;
    font-size: 40px;
    font-weight: 300;
    color: rgb(53, 53, 53);
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 500px){
    
    #intro-wrapper {
        width: 300px;
    }
}

@media screen and (min-width: 768px){

    #intro-wrapper {
        width: 500px;
    }

    #intro-title > h2 {
        font-size: 60px;
    }
}